<div id="<%= dom_id order %>">
  <p>
    <strong>User Id:</strong>
    <%= order.user_id %>
  </p>

  <p>
    <strong>Subtotal:</strong>
    <%= order.total_price %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= order.discount %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= order.total %>
  </p>

  <p>
    <strong>Payment Mode:</strong>
    <%= order.payment_mode %>
  </p>

  <p>
    <strong>Payment Id:</strong>
    <%= order.payment_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

</div>
