<div id="<%= dom_id product %>">


    <div>
        <%= image_tag product.image %>
    </div>


  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Catagoroy:</strong>
    <%= product.category_id %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= product.detail %>
  </p>

  <p>
    <strong>Mrp:</strong>
    <%= product.mrp %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= product.discount %>
  </p>

  <p>
    <strong>Discount type:</strong>
    <%= product.discount_type %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= product.active %>
  </p>

  

</div>