<div id="<%= dom_id order_product %>">
  <p>
    <strong>Order:</strong>
    <%= order_product.order_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= order_product.product_id %>
  </p>

  <p>
    <strong>Mrp:</strong>
    <%= order_product.mrp %>
  </p>

  <p>
    <strong>Discount price:</strong>
    <%= order_product.discount_price %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= order_product.total %>
  </p>

</div>
